.mat-radio-button ~ .mat-radio-button {
    margin-top: 1em;
}

.selectButtonDiv {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
}

.mat-table {
    overflow-y: auto;
}

.filtersBox {
    overflow-y: auto;
    overflow-x: hidden;
    height: 10em;
}

.loadingDataBox {
    display: flex;
    flex-flow: row;
    margin-right: 1em
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "title title"
            "prepared upload";
}
.title { grid-area: title; }
.prepared { grid-area: prepared; }
.upload { grid-area: upload; }

.grid-container-2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "title    title     title"
            "lines    whitelist blacklist"
            "settings settings  settings";
}
.lines { grid-area: lines; overflow-y: scroll; }
.whitelist {
    grid-area: whitelist;
    overflow-y: auto;
    padding: 1em;
}
.blacklist {
    grid-area: blacklist;
    overflow-y: auto;
    padding: 1em;
}
.settings  { grid-area: settings; }