<div *ngIf="this.firstPage">
    <div class="grid-container-1">
        <div class="title">
            <mat-toolbar color="primary">
                <span>Select Data</span>
            </mat-toolbar>
        </div>
        <div class="prepared">
            <h2>Prepared Data</h2>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="this.preparedDataSelection"
                             style="display: flex; flex-flow: column; margin-bottom: 2em">
                <mat-radio-button value="Vienna">Vienna (Metro, Bus, Tram)</mat-radio-button>
                <mat-radio-button value="Detroit">Detroit</mat-radio-button>
                <mat-radio-button value="Prague">Prague</mat-radio-button>
                <mat-radio-button value="Rome">Rome</mat-radio-button>
            </mat-radio-group>

            <div class="selectButtonDiv">
                <button mat-raised-button (click)="selectPreparedData()" style="width : 80%;">Select</button>
            </div>
        </div>
        <div class="upload">
            <h2>Upload Data</h2>
            <div style="margin-bottom: 1em">You can provide your own data using the gtfs format. The upload takes a directory containing the files following files:<br/>
                'stop_times.txt', 'stops.txt', 'trips.txt', 'routes.txt'
            </div>
            <input #folderInput type="file" webkitdirectory mozdirectory (change)="saveFiles(folderInput.files)"/>

            <div class="selectButtonDiv">
                <button mat-raised-button (click)="sendUploadedFiles()" style="width : 80%; margin-top: 2rem">Select</button>
                <div *ngIf="showLoadingData" class="loadingDataBox">
                    <div style="margin-right: 1em">Loading, please wait ...</div>
                    <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!firstPage">
    <div class="grid-container-2">
        <div class="title">
            <mat-toolbar color="primary">
                <span>Select Filters</span>
            </mat-toolbar>
        </div>
        <div class="lines" style="height: 20em">
            <table mat-table mat-table-scroll [dataSource]="lines" style="width: 100%" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="visible">
                    <th mat-header-cell *matHeaderCellDef>Visible</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(element) : null"
                                      [checked]="selection.isSelected(element)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="whitelist">
            <div style="display: flex; justify-content: space-between">
                <h2>Whitelist</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Add Filter</mat-label>
                    <mat-select (selectionChange)="addFilter($event.source, $event.value, true)">
                        <mat-option value="Starts with">Starts with</mat-option>
                        <mat-option value="Ends with">Ends with</mat-option>
                        <mat-option value="Is">Is</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="filtersBox">
                <div *ngFor="let filterData of this.whitelist"
                     style="align-items:center; display: flex; flex-flow: row; margin-bottom: 0.25rem">
                    <div style="width: 30%">{{filterData.type}}</div>

                    <div style="width: 60%">
                        <input (change)="filterChanged($event, filterData)"
                               placeholder="Enter value"
                               value="">
                    </div>
                    <div style="width: 10%">
                        <button style="background-color: red; margin-left: 1em; border-radius: 50%; width: 20px; height:20px"
                                (click)="removeElementFromFilterList(filterData, true)">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="blacklist">
            <div style="display: flex; justify-content: space-between">
                <h2>Blacklist</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Add Filter</mat-label>
                    <mat-select (selectionChange)="addFilter($event.source, $event.value, false)">
                        <mat-option value="Starts with">Starts with</mat-option>
                        <mat-option value="Ends with">Ends with</mat-option>
                        <mat-option value="Is">Is</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="filtersBox">
                <div *ngFor="let filterData of this.blacklist"
                     style="align-items:center; display: flex; flex-flow: row; margin-bottom: 0.25rem">
                    <div style="width: 30%">{{filterData.type}}</div>

                    <div style="width: 60%">
                        <input (change)="filterChanged($event, filterData)"
                               placeholder="Enter value"
                               value="">
                    </div>
                    <div style="width: 10%">
                        <button style="background-color: red; margin-left: 1em; border-radius: 50%; width: 20px; height:20px"
                                (click)="removeElementFromFilterList(filterData, false)">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="settings">
            <div style="display: flex; flex-flow: column">
                <mat-checkbox [(ngModel)]="allowCrossing" class="example-margin">Allow lines to cross each other
                </mat-checkbox>
                Warning: Some lines may not be positionable if crossing is not allowed.
                <mat-slider style="width: 20%; margin-top: 1em; margin-bottom: -0.5em" [(ngModel)]="sliderRValue" min="0.1" max="0.9" step="0.05"
                            value="0.5"></mat-slider>
                <div>Graph Scale: {{sliderRValue}}</div>
                Warning: Some graphs may not be drawable if the value is set to a too large value
            </div>
        </div>
    </div>






    <hr>
    <div>

    </div>
    <div class="selectButtonDiv">
        <button mat-raised-button (click)="sendData()">Draw Graph</button>
    </div>
</div>