.mat-radio-button ~ .mat-radio-button {
    margin-top: 1em;
}

.selectButtonDiv {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

.mat-table {
    overflow-y: scroll;
}

.filtersBox {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20em;
}

.tableBox {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 30vh;
    width: 100%;
}

.loadingDataBox {
    display: flex;
    flex-flow: row;
    margin-right: 1em
}