<div *ngIf="this.firstPage">
    <mat-toolbar color="primary">
        <span>Select Data</span>
    </mat-toolbar>
    <div>
        <div>
            <h2>Prepared Data</h2>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="this.preparedDataSelection"
                             style="display: flex; flex-flow: column; margin-bottom: 2em">
                <mat-radio-button value="Vienna">Vienna (Metro, Bus, Tram)</mat-radio-button>
                <mat-radio-button value="2">Another City</mat-radio-button>
            </mat-radio-group>

            <div class="selectButtonDiv">
                <button mat-raised-button (click)="selectPreparedData()">Select</button>
            </div>
        </div>
        <hr>
        <div>
            <h2>Upload Data</h2>
            <div>TODO: add disclaimer about content</div>
            <input #folderInput type="file" webkitdirectory mozdirectory (change)="saveFiles(folderInput.files)"/>
            <div class="selectButtonDiv">
                <button mat-raised-button (click)="sendUploadedFiles()">Select</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!firstPage">
    <mat-toolbar color="primary">
        <span>Select Filters</span>
    </mat-toolbar>
    <div style="display: flex; flex-flow: row">
        <div style="overflow-y: scroll; overflow-x: hidden; height: 30vh; width: 100%">
            <table mat-table [dataSource]="lines" style="width: 100%" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="visible">
                    <th mat-header-cell *matHeaderCellDef>Visible</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(element) : null"
                                      [checked]="selection.isSelected(element)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div style="margin-left:1em; margin-top:1em; ">
            <div style="margin-top: 1em; margin-bottom: 1em">
            Multiple strings can be separated by ","
            </div>
            <div *ngFor="let el of this.filterIDs"
                 style="justify-content: center; align-items:center; display: flex; flex-flow: row;">
                <div>
                    <mat-form-field appearance="fill" id="{{'form' + el}}">
                        <mat-select value="must not start" (selectionChange)="changeSelected($event.value, el)">
                            <mat-option value="must not start">
                                Must not start with
                            </mat-option>
                            <mat-option value="must not end">
                                Must not end with
                            </mat-option>
                            <mat-option value="must start">
                                Must start with
                            </mat-option>
                            <mat-option value="must end">
                                Must end with
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="margin-left: 1em" >
                    <input id="{{'input' + el}}" placeholder="Enter string" value="">
                </div>
                <button id="{{'button' + el}}"
                        style="background-color: red; margin-left: 1em; border-radius: 50%; width: 20px; height:20px"
                        (click)="removeElementFromFilterList(el)">
                    -
                </button>
            </div>
            <div>
                <button mat-mini-fab style="background-color: green" (click)="increaseChoice()">
                    <mat-icon>+</mat-icon>
                </button>
            </div>

        </div>
    </div>
    <div>TODO: Add Filter options</div>
    <hr>
    <div>
        <div style="display: flex; flex-flow: column">
            <mat-checkbox [(ngModel)]="allowCrossing" class="example-margin">Allow lines to cross each other
            </mat-checkbox>
            Warning: Some lines may not be positionable if crossing is not allowed.
        </div>
    </div>
    <div class="selectButtonDiv">
        <button mat-raised-button (click)="sendData()">Draw Graph</button>
    </div>
</div>